/GUI/GUI/nbproject/private/
/GUI/GUI/build/
/GUI/GUI/dist/
/GUI/APP/nbproject/private/
/GUI/JavaApplication3/nbproject/private/
/GUI/JavaApplication3/build/
/GUI/JavaApplication3/dist/
/GUI/PSW/nbproject/private/
/GUI/PSW/build/
/GUI/P/nbproject/private/
/GUI/Proyecto/nbproject/private/
/GUI/Proyecto/build/
